pkgbase = kconfig
	pkgdesc = Configuration system
	pkgver = 5.240.0.20231014
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = LGPL
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-declarative
	makedepends = qt6-doc
	makedepends = qt6-tools
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = git+https://invent.kde.org/frameworks/kconfig#commit=ba73fad5ef813df96252e78fa5088eb172b2d648
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = SKIP

pkgname = kconfig
