pkgbase = haruna
	pkgdesc = Video player built with Qt/QML on top of libmpv
	pkgver = 0.12.1
	pkgrel = 2
	url = https://apps.kde.org/haruna/
	arch = x86_64
	license = GPL3
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = ffmpeg
	depends = gcc-libs
	depends = glibc
	depends = kconfig5
	depends = kconfigwidgets5
	depends = kcoreaddons5
	depends = kdeclarative5
	depends = kfilemetadata5
	depends = ki18n5
	depends = kio5
	depends = kirigami2
	depends = kwindowsystem5
	depends = mpv
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-quickcontrols2
	depends = qt5-x11extras
	optdepends = yt-dlp: YouTube support
	source = https://download.kde.org/stable/haruna/haruna-0.12.1.tar.xz
	source = https://download.kde.org/stable/haruna/haruna-0.12.1.tar.xz.sig
	validpgpkeys = 4E421C6554B89766DF9B7A37E12AB207C8755905
	sha256sums = 0435b336d9a19097920f1d92fe5df2e352a9431bd84ce6a34fe225930ea38ede
	sha256sums = SKIP

pkgname = haruna
