pkgbase = kstatusnotifieritem
	pkgdesc = Implementation of Status Notifier Items
	pkgver = 5.240.0.20231014
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = GPL
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-doc
	makedepends = qt6-tools
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = kwindowsystem
	depends = qt6-base
	source = git+https://invent.kde.org/frameworks/kstatusnotifieritem#commit=6035342ec2f4f608fce4172fca6de115279c6b5d
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = SKIP

pkgname = kstatusnotifieritem
