pkgbase = kcmutils
	pkgdesc = Utilities for interacting with KCModules
	pkgver = 5.240.0.20231014
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = LGPL
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-doc
	makedepends = qt6-tools
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = kactivities
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kguiaddons
	depends = ki18n
	depends = kio
	depends = kitemviews
	depends = kservice
	depends = kwidgetsaddons
	depends = kxmlgui
	depends = qt6-base
	depends = qt6-declarative
	source = git+https://invent.kde.org/frameworks/kcmutils#commit=7c1f8635099eab212ba3217e2543ff723083ac90
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = SKIP

pkgname = kcmutils
