pkgbase = kcrash
	pkgdesc = Support for application crash analysis and bug report from apps
	pkgver = 5.240.0.20231014
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = LGPL
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-doc
	makedepends = qt6-tools
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = kcoreaddons
	depends = libx11
	depends = qt6-base
	optdepends = drkonqi: KDE crash handler application
	source = git+https://invent.kde.org/frameworks/kcrash#commit=12ac73fa5461948b1ea8ab8f0af4016f63fea106
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = SKIP

pkgname = kcrash
